--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://download.pytorch.org/whl/cu128

# Linux
torch==2.7.1+cu128; sys_platform == "linux"
torchvision==0.22.1+cu128; sys_platform == "linux"